    <footer class="footer">
        <div class="container-footer">
            <div class="left1">
                <div class="content-left1">
                    <img src="../../../../assets/images/Screenshot_2025-12-11_233010-removebg-preview.png" alt="">
                    <h2>Healthy Bites</h2>
                </div>
                <p>Healthy Bites is a restaurant landing page that offers a delicious dining experience to its customers.</p>
                <h3>Social Media</h3>
                <div class="icons-left1">
                    <ul>
                        <li>
                            <a >
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a >
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a >
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a >
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="middle2">
                <div class="subcribe-box">
                    <h3>Subscribe our Newsletter</h3>
                    <p>Don't miss out on our latest menu updates and exclusive offers - join our newsletter <br> today and stay up-to-date with all things Healthy Bites!</p>
                </div>
                <div class="form-middle2">
                    <input type="email" name="Email2" id="email2" required placeholder="Enter Your Email Address">
                    <button class="btn-middle2">
                        <i class="fas fa-envelope"></i>
                        Subscribe
                    </button>
                </div>
                <div class="quick-Links">
                    <h3>Quick Links</h3>
                    <ul>
                        <li>
                            <a routerLink="/home"> Home</a>
                        </li>
                        <li>
                            <a routerLink="/home" fragment="values"> Articles</a>
                        </li>
                        <li>
                            <a routerLink="/recipes"> Recipes</a>
                        </li>
                        <li>
                            <a routerLink="/resturant"> Resturant</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </footer>