
/* Start Footer */
.footer{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../../../assets/images/textured-metal-background.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 40px 0;
}

.container-footer{
    --gap:20px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 0.5rem;
}

.container-footer :is(.left1,.right3){
    width: calc(calc(100% - 0.5rem) *2 / 4);
}

.container-footer :is(.middle2){
    width: calc(calc(100% - 0.5rem) *2 / 2);
}

.content-left1{
    display: flex;
    align-items: center;
}

.content-left1 img{
    width: 4rem;
    height: 2.5rem;
}

.content-left1 h2{
    padding-left: 10px;
    padding-top: 25px;
    font-size: 30px;
    color: #f16818;
}

.left1 p{
    font-size: 16px;
    margin: 10px 0;
}

.left1 h3{
    font-size: 18.72px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid #ddd6;
    margin: 0.625rem 0;
}

.icons-left1 ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons-left1 a{
    list-style: none;
    color: #f16818;
    font-size: 1.5rem;
    cursor: pointer;
}

.icons-left1 ul li{
    list-style: none;
}

.subcribe-box h3{
    font-size: 18.72px;
}

.subcribe-box p{
    margin: 10px 0;
    font-size: 16px;
}

.form-middle2{
    --gap: 0.5rem;
    display: flex;
    gap: 0.5rem;
    margin: 15px 0;
}

.form-middle2 input{
    width: 100%;
    padding: 10px;
    border: transparent;
}

.form-middle2 button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 10px 10px;
    color: #fff;
    background-color: #f16818;
    border: transparent;
    transition: 500ms;
}

.form-middle2 button .fas{
    font-size: 17px;
}

.form-middle2 button:hover{
    background-color: #fff;
    color: #f16818;
    cursor: pointer;
}

.quick-Links h3{
    font-size: 18.72px;
    margin: 10px 0;
}

.quick-Links ul li{
    list-style: none;
}

.quick-Links ul{
    --gap:10px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.quick-Links ul li{
    width: calc(calc(100% - 0.5rem) / 2);
    padding: 4px;
    transition: 500ms;
    cursor: pointer;
}

.quick-Links ul li:hover{
    transform: translateX(5%);
    background-color: #f168184b;
}

.quick-Links ul li::before{
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.quick-Links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    
}




/* Start Footer */

@media (max-width: 1200px) {
    .container-footer{
        flex-wrap: wrap;
    }
    .middle2{
        order: 3;
    }
}
@media (max-width: 768px){
    .container{
        flex-wrap: wrap;
    }
    .container-footer :is(.left1,.right3){
        width: calc(calc(100% - 0.5rem) *2);
    }
    
    .container-footer :is(.middle2){
        width: calc(calc(100% - 0.5rem) *2);
    }
    .middle2{
        order:0;
    }
}

/* End Footer */