<div class="recipe-card">

  <!-- Image -->
  <div class="recipe-img">
    <img src="  assets/images/brg.jpg" alt="Tuna Burger">
  </div>

  <div class="recipe-content">

    <h2 class="recipe-title">Tuna Hamburgers</h2>

    <div class="stars">★★★★★</div>

    <p class="text-muted">
      "Hamburgers don't always have to be made out of meat, you can also make them out of fish.
      If you're looking for new ways to eat this protein, then this fun and delicious recipe is for you!"
    </p>

    <!-- Info -->
    <div class="info-box">
      <div>🧺 Ingredients <strong>10</strong></div>
      <div>⚡ Difficulty <strong>Easy</strong></div>
      <div>⏱ Time <strong>30'</strong></div>
    </div>

    <!-- Servings -->
    <div class="servings">
      <span class="fw-semibold">Servings</span>
      <button (click)="decrease()">-</button>
      <span>{{ servings }}</span>
      <button (click)="increase()">+</button>
    </div>

    <!-- Fresh Ingredients -->
    <h6 class="ingredients-title">Fresh ingredients</h6>

    <div class="ingredient-item">
      <span>🧅 Onion</span>
      <span>1/2 unit</span>
    </div>
    <div class="ingredient-item">
      <span>🥚 Egg</span>
      <span>1 unit</span>
    </div>
    <div class="ingredient-item">
      <span>🌿 Parsley</span>
      <span>1 handful</span>
    </div>
    <div class="ingredient-item">
      <span>🍅 Tomato</span>
      <span>1 unit</span>
    </div>
    <div class="ingredient-item">
      <span>🥬 Lettuce</span>
      <span>2 handfuls</span>
    </div>

    <!-- Pantry -->
    <h6 class="ingredients-title pantry">Pantry ingredients</h6>

    <div class="ingredient-item">
      <span>🧂 Salt</span>
      <span>1 pinch</span>
    </div>
    <div class="ingredient-item">
      <span>🌶 Black Pepper</span>
      <span>1 pinch</span>
    </div>
    <div class="ingredient-item">
      <span>🥄 Mustard</span>
      <span>1 tsp</span>
    </div>
    <div class="ingredient-item">
      <span>🍞 Bread</span>
      <span>2 units</span>
    </div>
    <div class="ingredient-item">
      <span>🐟 Canned Tuna</span>
      <span>7 oz</span>
    </div>

  </div>
</div>
