<!-- Team Section -->
<section class="team-section" id="recipes">
    <div class="text-content">
        <div class="About-content text-center">
            <h2 class="Aboutus fs-1 fw-bolder mb-5" data-bigletter="Recipes">
                Bites
            </h2>
            <hr>
        </div>
    </div>



    <div class="container py-4">
        <div class="row g-4 py-3">

             <div class="position-relative mb-3">
                <input class="form-control mr-sm-2 px-5 py-3 rounded-5 mt-3" type="search"
                    placeholder="Search by name or category" aria-label="Search" />
                <i class="fa-solid fa-magnifying-glass fs-5 text-secondary position-absolute search-icon"></i>
                <button class="btns-color rounded-5 py-2 px-4 position-absolute btn-search">
                    Search
                </button>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 poin-card" routerLink="/recipe-details">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/35913c2a-3cd4-4c2a-8649-6100518ec473.png" class="img-fluid rounded-top"
                        alt="food">
                    <div class="team-name">Orange Chicken <br> Cherry Tomato, Cucumber, and Mozzarella Skewers
                    </div>
                </div>
            </div>
           

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 poin-card">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/fbc934bd-96de-4a53-b2dc-cf5f09f58b98.png" class="img-fluid rounded-top"
                        alt="food">
                    <div class="team-name">Orange Chicken <br> Cherry Tomato, Cucumber, and Mozzarella Skewers
                    </div>
                </div>
            </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 poin-card">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/35913c2a-3cd4-4c2a-8649-6100518ec473.png" class="img-fluid rounded-top"
                        alt="food">
                    <div class="team-name">Orange Chicken <br> Cherry Tomato, Cucumber, and Mozzarella Skewers
                    </div>
                </div>
            </div>
           

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 poin-card">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/fbc934bd-96de-4a53-b2dc-cf5f09f58b98.png" class="img-fluid rounded-top"
                        alt="food">
                    <div class="team-name">Orange Chicken <br> Cherry Tomato, Cucumber, and Mozzarella Skewers
                    </div>
                </div>
            </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 poin-card">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/35913c2a-3cd4-4c2a-8649-6100518ec473.png" class="img-fluid rounded-top"
                        alt="food">
                    <div class="team-name">Orange Chicken <br> Cherry Tomato, Cucumber, and Mozzarella Skewers
                    </div>
                </div>
            </div>
           

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 poin-card">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/fbc934bd-96de-4a53-b2dc-cf5f09f58b98.png" class="img-fluid rounded-top"
                        alt="food">
                    <div class="team-name">Orange Chicken <br> Cherry Tomato, Cucumber, and Mozzarella Skewers
                    </div>
                </div>
            </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 poin-card">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/35913c2a-3cd4-4c2a-8649-6100518ec473.png" class="img-fluid rounded-top"
                        alt="food">
                    <div class="team-name">Orange Chicken <br> Cherry Tomato, Cucumber, and Mozzarella Skewers
                    </div>
                </div>
            </div>
           

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 poin-card">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/fbc934bd-96de-4a53-b2dc-cf5f09f58b98.png" class="img-fluid rounded-top"
                        alt="food">
                    <div class="team-name">Orange Chicken <br> Cherry Tomato, Cucumber, and Mozzarella Skewers
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>